@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --night-black: #17151c;
    --blue-800: #1652F0;
    --blue-700: #1d4ed8;
    --gray-600: #374151;
    --gray-400: #9CA3AF;
    --error-red: #EF4444;

    --white: #FFFFFF;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --dark-green-900: #182422;
    --dark-green-800: #164F45;
    --dark-green-700: #1D7D6A;
    --accent-green: #3CE7B2;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%
  }
}

.bg-night-black {
  background-color: var(--night-black);
}

.text-white {
  color: var(--white);
}

.border-error-red {
  border-color: var(--error-red) !important;
}

.text-error-red {
  color: var(--error-red);
}

.text-gray-400 {
  color: var(--gray-400);
}

.border-gray-600 {
  border-color: var(--gray-600);
}

.bg-gray-600 {
  background-color: var(--gray-600);
}

.bg-blue-800 {
  background-color: var(--blue-800);
}

.hover\:bg-blue-700:hover {
  background-color: var(--blue-700);
}

.hover\:bg-gray-500:hover {
  background-color: #4B5563;
}

.font-coinbase-display {
  font-family: "CoinbaseDisplay", sans-serif;
}

.font-coinbase-sans {
  font-family: "CoinbaseSans", sans-serif;
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-black text-foreground;
  }
}



@font-face {
  font-family: 'Bakerline';
  src: url('/src/fonts/bakerline-cufonfonts/Bakerlinecleandemo-G3eBm.ttf') format('truetype');
}

@font-face {
  font-family: 'BegolanOrigano';
  src: url('/src/fonts/begolan-origano-cufonfonts/BegolanOrigano.otf') format('opentype');
}

@font-face {
  font-family: 'BohoMama';
  src: url('/src/fonts/boho-mama-cufonfonts/Boho Mama.otf') format('opentype');
}

@font-face {
  font-family: 'Destornillador';
  src: url('/src/fonts/destornillador-cufonfonts/Destornillador.ttf') format('truetype');
}

@font-face {
  font-family: 'Nervida';
  src: url('/src/fonts/nervida-cufonfonts/Nervida-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Atari';
  src: url('/src/fonts/atari-kids-font/AtariKids-r3dK.ttf') format('truetype');
}

@font-face {
  font-family: 'BebasNeue';
  src: url('/src/fonts/bebas-neue-cufonfonts/BebasNeue-Regular.otf') format('opentype');
}

/* Coinbase Display */
@font-face {
  font-family: 'CoinbaseDisplay';
  src: url('/src/fonts/Coinbase-Display/Coinbase_Display-Regular-web-1.32.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CoinbaseDisplay';
  src: url('/src/fonts/Coinbase-Display/Coinbase_Display-Bold-web-1.32.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Coinbase Mono */
@font-face {
  font-family: 'CoinbaseMono';
  src: url('/src/fonts/Coinbase-Mono/Coinbase_Mono-Regular-web.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CoinbaseMono';
  src: url('/src/fonts/Coinbase-Mono/Coinbase_Mono-Bold-web.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Coinbase Sans */
@font-face {
  font-family: 'CoinbaseSans';
  src: url('/src/fonts/Coinbase-Sans/Coinbase_Sans-Regular-web-1.32.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CoinbaseSans';
  src: url('/src/fonts/Coinbase-Sans/Coinbase_Sans-Bold-web-1.32.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Coinbase Text */
@font-face {
  font-family: 'CoinbaseText';
  src: url('/src/fonts/Coinbase-Text/Coinbase_Text-Regular-web-1.32.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CoinbaseText';
  src: url('/src/fonts/Coinbase-Text/Coinbase_Text-Bold-web-1.32.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.bg-dark-green-900 {
  background-color: var(--dark-green-900);
}

.bg-dark-green-800 {
  background-color: var(--dark-green-800);
}

.bg-dark-green-700 {
  background-color: var(--dark-green-700);
}

.bg-accent-green {
  background-color: var(--accent-green);
}